.profile {
  width: 300px;
  height: auto;
  border-radius: 10px;
  margin-top: 50px;
  background-color: rgb(252, 252, 250);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.description {
  padding-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  background-color: #b1adad;
  margin: 10px auto;
}
.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.tag {
  color: darkgray;
  font-style: italic;
  margin-bottom: 10px;
}
.location {
  color: darkgray;
  margin-bottom: 10px;
}
.stats {
  display: flex;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.label {
  text-align: center;
  color: darkgray;
}
.quantity {
  text-align: center;
  font-weight: 700;
}

.li {
  display: flex;
  flex-direction: column;
  width: 33%;

  border: 1px solid rgb(218, 218, 218, 0.9);
  padding: 10px;
}
